:root {
  /* COLORS */

  /* Primary */
  --light-cyan: hsl(193, 38%, 86%);
  --neon-green: hsl(150, 100%, 66%);

  /* Neutral */
  --grayish-blue: hsl(217, 19%, 38%);
  --dark-grayish-blue: hsl(217, 19%, 24%);
  --dark-blue: hsl(218, 23%, 16%);

  /* LAYOUTS */

  --mobile: 375px;
  --desktop: 1440px;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  background-color: var(--dark-blue);
}

.container {
  position: relative;
  width: 100%;
  height: 100vh;
  padding-inline: 1rem;
}

.generator {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  color: var(--light-cyan);

  /* max-width: 460px; */
  width: 90%;

  padding: 32px 24px;

  border-radius: 10px;
  background-color: var(--dark-grayish-blue);
}

.generator__heading {
  font-size: 13px;
  color: var(--neon-green);
  letter-spacing: 3px;

  margin-bottom: 24px;
}

.generator__blockquote {
  font-size: 24px;
  line-height: 1.4;

  margin-bottom: 24px;
}

.divider {
  padding-inline: 20px;
}

.divider__image {
  display: block;
  width: 100%;
  margin-bottom: 32px;
}

.button {
  display: block;

  position: absolute;
  bottom: 0;
  left: 50%;

  transform: translate(-50%, 50%);
  
  width: 60px;
  height: 60px;

  cursor: pointer;

  border-radius: 50%;
  border: none;
  background-color: var(--neon-green);
}

@media (min-width: 768px) {
  .generator {
    top: 50%;
    transform: translate(-50%, -60%);

    max-width: 460px;
  }
}